<!DOCTYPE html>
<html lang="en">

	<!-- Mirrored from lineone.piniastudio.com/dashboards-crypto-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 08:31:31 GMT -->
	<!-- Added by HTTrack -->
	<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

	<head>

		<title>Dashboard | PIK ASSETS MANAGEMENT </title>

		<!-- headLinks -->
		<%- include("../partials/dashboard/headLinks.ejs") -%>
		<!-- ######### -->
		
        
        <style>
        .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
            box-shadow: none;
        }
        .btn.btn-outline.btn-outline-dashed {
            border-width: 1px;
            border-style: dashed;
        }
		.bg-disabled{
			background-color: #e1e0ff !important;
		}
        </style>
	</head>

	<body x-data class="is-header-blur" x-bind="$store.global.documentBody">
		<!-- App preloader-->
		<div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
			<div class="app-preloader-inner relative inline-block h-48 w-48"></div>
		</div>

		<!-- importing copy to clipboard function -->
		<%- include("../partials/dashboard/components/clipboard.ejs") -%>
		<!-- #### -->

		<!-- Page Wrapper -->
		<div id="root" class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900" x-cloak>
			<!-- Sidebar -->
			<div class="sidebar print:hidden">

                <!-- main sidebar and sidebar panel -->
                <%- include("../partials/dashboard/components/nav/navbar.ejs") -%>
                <!-- ### -->
			</div>

                <!-- Here lies the  App heder -->
                <%- include("../partials/dashboard/components/nav/header.ejs") -%>
                <!-- ######  App header:end ###-->

			<!-- Right Sidebar -->
			<div x-show="$store.global.isRightSidebarExpanded" @keydown.window.escape="$store.global.isRightSidebarExpanded = false">
				<div class="fixed inset-0 z-[150] bg-slate-900/60 transition-opacity duration-200" @click="$store.global.isRightSidebarExpanded = false" x-show="$store.global.isRightSidebarExpanded" x-transition:enter="ease-out" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
				<div class="fixed right-0 top-0 z-[151] h-full w-full sm:w-80">
					<div x-data="{activeTab:'tabHome'}" class="relative flex h-full w-full transform-gpu flex-col bg-white transition-transform duration-200 dark:bg-navy-750" x-show="$store.global.isRightSidebarExpanded" x-transition:enter="ease-out" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="ease-in" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
						<div class="flex items-center justify-between py-2 px-4">
							<p x-show="activeTab === 'tabHome'" class="flex shrink-0 items-center space-x-1.5">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
								</svg>
								<span class="text-xs">25 May, 2022</span>
							</p>
							<p x-show="activeTab === 'tabProjects'" class="flex shrink-0 items-center space-x-1.5">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
								</svg>
								<span class="text-xs">Projects</span>
							</p>
							<p x-show="activeTab === 'tabActivity'" class="flex shrink-0 items-center space-x-1.5">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								<span class="text-xs">Activity</span>
							</p>

							<button @click="$store.global.isRightSidebarExpanded=false" class="btn -mr-1 h-6 w-6 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
								</svg>
							</button>
						</div>

						<div x-show="activeTab === 'tabHome'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(0,1rem,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]" class="is-scrollbar-hidden overflow-y-auto overscroll-contain pt-1">
							<div class="mt-3">
								<h2 class="px-3 text-xs+ font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
									PIK GIFTCARDS
								</h2>
								<div class="swiper mt-3 px-3" x-init="$nextTick(()=>new Swiper($el,{  slidesPerView: 'auto', spaceBetween: 16}))">
									<div class="swiper-wrapper">
										<div class="swiper-slide relative flex h-28 w-48 flex-col overflow-hidden rounded-xl bg-gradient-to-br from-purple-500 to-indigo-600 p-3">
											<div class="grow">
												<img class="h-3" src="/limestone/images/payments/cc-visa-white.svg" alt="image" />
											</div>
											<div class="text-white">
												<p class="text-lg font-semibold tracking-wide">
													$2,139.22
												</p>
												<p class="mt-1 text-xs font-medium">
													**** **** **** 8945
												</p>
											</div>
											<div class="mask is-reuleaux-triangle absolute top-0 right-0 -m-3 h-16 w-16 bg-white/20"></div>
										</div>
										<div class="swiper-slide relative flex h-28 w-48 flex-col overflow-hidden rounded-xl bg-gradient-to-br from-pink-500 to-rose-500 p-3">
											<div class="grow">
												<img class="h-3" src="/limestone/images/payments/cc-visa-white.svg" alt="image" />
											</div>
											<div class="text-white">
												<p class="text-lg font-semibold tracking-wide">
													$2,139.22
												</p>
												<p class="mt-1 text-xs font-medium">
													**** **** **** 8945
												</p>
											</div>
											<div class="mask is-diamond absolute bottom-0 right-0 -m-3 h-16 w-16 bg-white/20"></div>
										</div>
										<div class="swiper-slide relative flex h-28 w-48 flex-col overflow-hidden rounded-xl bg-gradient-to-br from-info to-info-focus p-3">
											<div class="grow">
												<img class="h-3" src="/limestone/images/payments/cc-visa-white.svg" alt="image" />
											</div>
											<div class="text-white">
												<p class="text-lg font-semibold tracking-wide">
													$2,139.22
												</p>
												<p class="mt-1 text-xs font-medium">
													**** **** **** 8945
												</p>
											</div>
											<div class="mask is-hexagon-2 absolute top-0 right-0 -m-3 h-16 w-16 bg-white/20"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="mt-4">
								<h2 class="px-3 text-xs+ font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
									Stock Market
								</h2>
								<div class="mt-3 grid grid-cols-2 gap-3 px-3">
									<div class="rounded-lg bg-slate-100 p-2.5 dark:bg-navy-600">
										<div class="flex items-center space-x-2">
											<img class="h-10 w-10" src="/limestone/images/logos/bitcoin.svg" alt="image" />
											<div>
												<h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
													BTC
												</h2>
												<p class="text-xs">Bitcoin</p>
											</div>
										</div>

										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.stockMarket1); $el._x_chart.render() });"></div>
										</div>

										<div class="mt-2 flex items-center justify-between">
											<p class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
												60.33$
											</p>
											<p class="text-xs font-medium tracking-wide text-success">
												+3.3%
											</p>
										</div>
									</div>

									<div class="rounded-lg bg-slate-100 p-2.5 dark:bg-navy-600">
										<div class="flex items-center space-x-2">
											<img class="h-10 w-10" src="/limestone/images/logos/solana.svg" alt="image" />
											<div>
												<h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
													SOL
												</h2>
												<p class="text-xs">Solana</p>
											</div>
										</div>

										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.stockMarket2); $el._x_chart.render() });"></div>
										</div>

										<div class="mt-2 flex items-center justify-between">
											<p class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
												20.56$
											</p>
											<p class="text-xs font-medium tracking-wide text-success">
												+4.11%
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="mt-4">
								<h2 class="px-3 text-xs+ font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
									Latest News
								</h2>
								<div class="mt-3 space-y-3 px-2">
									<div class="flex justify-between space-x-2 rounded-lg bg-slate-100 p-2.5 dark:bg-navy-700">
										<div class="flex flex-1 flex-col justify-between">
											<div class="line-clamp-2">
												<a href="#" class="font-medium text-slate-700 hover:text-primary focus:text-primary dark:text-navy-100 dark:hover:text-accent-light dark:focus:text-accent-light">What is Tailwind CSS?</a>
											</div>
											<div class="flex items-center justify-between">
												<div class="flex items-center space-x-2">
													<div class="avatar h-7 w-7">
														<img class="rounded-full" src="/limestone/images/avatar/avatar-20.jpg" alt="avatar" />
													</div>
													<div>
														<p class="text-xs font-medium line-clamp-1">
															John D.
														</p>
														<p class="text-tiny+ text-slate-400 line-clamp-1 dark:text-navy-300">
															2 min read
														</p>
													</div>
												</div>
												<div class="flex">
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
														</svg>
													</button>
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
														</svg>
													</button>
												</div>
											</div>
										</div>
										<img src="/limestone/images/object/object-18.jpg" class="h-20 w-20 rounded-lg object-cover object-center" alt="image" />
									</div>

									<div class="flex justify-between space-x-2 rounded-lg bg-slate-100 p-2.5 dark:bg-navy-700">
										<div class="flex flex-1 flex-col justify-between">
											<div class="line-clamp-2">
												<a href="#" class="font-medium text-slate-700 hover:text-primary focus:text-primary dark:text-navy-100 dark:hover:text-accent-light dark:focus:text-accent-light">Tailwind CSS Card Example</a>
											</div>
											<div class="flex items-center justify-between">
												<div class="flex items-center space-x-2">
													<div class="avatar h-7 w-7">
														<img class="rounded-full" src="/limestone/images/avatar/avatar-19.jpg" alt="avatar" />
													</div>
													<div>
														<p class="text-xs font-medium line-clamp-1">
															Travis F.
														</p>
														<p class="text-tiny+ text-slate-400 line-clamp-1 dark:text-navy-300">
															5 min read
														</p>
													</div>
												</div>
												<div class="flex">
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
														</svg>
													</button>
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
														</svg>
													</button>
												</div>
											</div>
										</div>
										<img src="/limestone/images/object/object-2.jpg" class="h-20 w-20 rounded-lg object-cover object-center" alt="image" />
									</div>

									<div class="flex justify-between space-x-2 rounded-lg bg-slate-100 p-2.5 dark:bg-navy-700">
										<div class="flex flex-1 flex-col justify-between">
											<div class="line-clamp-2">
												<a href="#" class="font-medium text-slate-700 hover:text-primary focus:text-primary dark:text-navy-100 dark:hover:text-accent-light dark:focus:text-accent-light">10 Tips for Making a Good Camera Even Better</a>
											</div>
											<div class="flex items-center justify-between">
												<div class="flex items-center space-x-2">
													<div class="avatar h-7 w-7">
														<img class="rounded-full" src="/limestone/images/avatar/avatar-18.jpg" alt="avatar" />
													</div>
													<div>
														<p class="text-xs font-medium line-clamp-1">
															Alfredo E .
														</p>
														<p class="text-tiny+ text-slate-400 line-clamp-1 dark:text-navy-300">
															4 min read
														</p>
													</div>
												</div>
												<div class="flex">
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
														</svg>
													</button>
													<button class="btn h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
															<path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
														</svg>
													</button>
												</div>
											</div>
										</div>
										<img src="/limestone/images/object/object-1.jpg" class="h-20 w-20 rounded-lg object-cover object-center" alt="image" />
									</div>
								</div>
							</div>

							<div class="mt-3 px-3">
								<h2 class="text-xs+ font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
									Settings
								</h2>
								<div class="mt-2 flex flex-col space-y-2">
									<label class="inline-flex items-center space-x-2">
										<input x-model="$store.global.isDarkModeEnabled" class="form-switch h-5 w-10 rounded-lg bg-slate-300 before:rounded-md before:bg-slate-50 checked:bg-slate-500 checked:before:bg-white dark:bg-navy-900 dark:before:bg-navy-300 dark:checked:bg-navy-400 dark:checked:before:bg-white" type="checkbox" />
										<span>Dark Mode</span>
									</label>
									<label class="inline-flex items-center space-x-2">
										<input x-model="$store.global.isMonochromeModeEnabled" class="form-switch h-5 w-10 rounded-lg bg-slate-300 before:rounded-md before:bg-slate-50 checked:bg-slate-500 checked:before:bg-white dark:bg-navy-900 dark:before:bg-navy-300 dark:checked:bg-navy-400 dark:checked:before:bg-white" type="checkbox" />
										<span>Monochrome Mode</span>
									</label>
								</div>
							</div>

							<div class="mt-3 px-3">
								<div class="rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
									<div class="flex items-center justify-between">
										<p>
											<span class="font-medium text-slate-600 dark:text-navy-100">35GB</span>
											of 1TB
										</p>
										<a href="#" class="text-xs+ font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">Upgrade</a>
									</div>

									<div class="progress mt-2 h-2 bg-slate-150 dark:bg-navy-500">
										<div class="w-7/12 rounded-full bg-info"></div>
									</div>
								</div>
							</div>
							<div class="h-18"></div>
						</div>

						<div x-show="activeTab === 'tabProjects'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(0,1rem,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]" class="is-scrollbar-hidden overflow-y-auto overscroll-contain px-3 pt-1">
							<div class="grid grid-cols-2 gap-3">
								<div class="rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
									<div class="flex justify-between space-x-1">
										<p class="text-xl font-semibold text-slate-700 dark:text-navy-100">
											14
										</p>
										<svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" class="h-5 w-5 text-primary dark:text-accent" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
										</svg>
									</div>
									<p class="mt-1 text-xs+">Pending</p>
								</div>
								<div class="rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
									<div class="flex justify-between">
										<p class="text-xl font-semibold text-slate-700 dark:text-navy-100">
											36
										</p>
										<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
										</svg>
									</div>
									<p class="mt-1 text-xs+">Completed</p>
								</div>
								<div class="rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
									<div class="flex justify-between">
										<p class="text-xl font-semibold text-slate-700 dark:text-navy-100">
											143
										</p>

										<i class="fa fa-spinner text-base text-warning"></i>
									</div>
									<p class="mt-1 text-xs+">In Progress</p>
								</div>
								<div class="rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
									<div class="flex justify-between">
										<p class="text-xl font-semibold text-slate-700 dark:text-navy-100">
											279
										</p>

										<i class="fa-solid fa-list-check text-base text-info"></i>
									</div>
									<p class="mt-1 text-xs+">Total</p>
								</div>
							</div>

                            <div class="mt-4">
                                <h2 class="py-3  text-xs+ font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
									Running investments
								</h2>
								<div class="grid grid-cols-2 gap-3 ">
									<div class="rounded-lg bg-slate-150 px-2.5 py-2 dark:bg-navy-600">
										<div class="flex items-center justify-between space-x-1">
											<p>
												<span class="text-lg font-medium text-slate-700 dark:text-navy-100">11.3</span>
												<span class="text-xs">hr</span>
											</p>
											<svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5 text-secondary dark:text-secondary-light" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
											</svg>
										</div>

										<p class="mt-0.5 text-tiny+ uppercase">Working Hours</p>

										<div class="progress mt-3 h-1.5 bg-secondary/15 dark:bg-secondary-light/25">
											<div class="is-active relative w-8/12 overflow-hidden rounded-full bg-secondary dark:bg-secondary-light"></div>
										</div>

										<div class="mt-1.5 flex items-center justify-between text-xs text-slate-400 dark:text-navy-300">
											<button class="btn -ml-1 h-6 w-6 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
													<path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
													<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
												</svg>
											</button>
											<span> 71%</span>
										</div>
									</div>
									<div class="rounded-lg bg-slate-150 px-2.5 py-2 dark:bg-navy-600">
										<div class="flex items-center justify-between space-x-1">
											<p>
												<span class="text-lg font-medium text-slate-700 dark:text-navy-100">13</span>
												<span class="text-xs">/22</span>
											</p>
											<svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5 text-success" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
											</svg>
										</div>

										<p class="mt-0.5 text-tiny+ uppercase">Completed tasks</p>

										<div class="progress mt-3 h-1.5 bg-success/15 dark:bg-success/25">
											<div class="relative w-6/12 overflow-hidden rounded-full bg-success"></div>
										</div>

										<div class="mt-1.5 flex items-center justify-between text-xs text-slate-400 dark:text-navy-300">
											<button class="btn -ml-1 h-6 w-6 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
													<path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
													<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
												</svg>
											</button>
											<span> 49%</span>
										</div>
									</div>
								</div>
							</div>

							<div class="h-18"></div>
						</div>

						<div x-show="activeTab === 'tabActivity'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(0,1rem,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]" class="is-scrollbar-hidden overflow-y-auto overscroll-contain pt-1">
							    <!-- here lies the activities column -->
                                <%- include("../partials/dashboard/components/activities.ejs", {activities_exists : false }) -%>
                                <!-- activities: end -->
						</div>

						<div class="pointer-events-none absolute bottom-4 flex w-full justify-center">
							<div class="pointer-events-auto mx-auto flex space-x-1 rounded-full border border-slate-150 bg-white px-4 py-0.5 shadow-lg dark:border-navy-700 dark:bg-navy-900">
								<button @click="activeTab = 'tabHome'" :class="activeTab === 'tabHome' && 'text-primary dark:text-accent'" class="btn h-9 rounded-full py-0 px-4 hover:bg-slate-300/20 hover:text-primary focus:bg-slate-300/20 focus:text-primary active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:hover:text-accent dark:focus:bg-navy-300/20 dark:focus:text-accent dark:active:bg-navy-300/25">
									<svg x-show="activeTab === 'tabHome'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
										<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
									</svg>
									<svg x-show="activeTab !== 'tabHome'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
										<path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
									</svg>
								</button>
								<button @click="activeTab = 'tabProjects'" :class="activeTab === 'tabProjects' && 'text-primary dark:text-accent'" class="btn h-9 rounded-full py-0 px-4 hover:bg-slate-300/20 hover:text-primary focus:bg-slate-300/20 focus:text-primary active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:hover:text-accent dark:focus:bg-navy-300/20 dark:focus:text-accent dark:active:bg-navy-300/25">
									<svg x-show="activeTab === 'tabProjects'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
									</svg>

									<svg x-show="activeTab !== 'tabProjects'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
										<path stroke-linecap="round" stroke-linejoin="round" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
									</svg>
								</button>
								<button @click="activeTab = 'tabActivity'" :class="activeTab === 'tabActivity' && 'text-primary dark:text-accent'" class="btn h-9 rounded-full py-0 px-4 hover:bg-slate-300/20 hover:text-primary focus:bg-slate-300/20 focus:text-primary active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:hover:text-accent dark:focus:bg-navy-300/20 dark:focus:text-accent dark:active:bg-navy-300/25">
									<svg x-show="activeTab ===  'tabActivity'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
									</svg>
									<svg x-show="activeTab !==  'tabActivity'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Main Content Wrapper -->
			<main class="main-content w-full px-[var(--margin-x)] pb-8">
				<div class="mt-4 grid grid-cols-12 gap-4 sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6">
					<div class="col-span-12 lg:col-span-8">
                        
                        <!-- hear lies balance -->
                            <%-include("../partials/dashboard/components/balance.ejs") -%>
                        <!-- ### -->

						<div class="card mt-4 pb-1 sm:mt-5 lg:mt-6">
							<div class="my-3 flex items-center justify-between px-4 sm:px-5">
								<h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
									Assets
								</h2>
								<a href="/invest" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                    </svg>
                                </a>
							</div>
							<div class="scrollbar-sm flex space-x-4 overflow-x-auto overflow-y-hidden px-4 pb-2 sm:px-5">
								<div class="flex w-72 shrink-0 flex-col">
									<div class="flex items-center space-x-2">
										<img class="h-6 w-6" src="/limestone/images/logos/bitcoin.svg" alt="flag" />
										<div>
											<span>Shared cluster</span>
										</div>
									</div>

									<div class="mt-2.5 flex justify-between rounded-lg bg-slate-50 py-3 pr-3 dark:bg-navy-600">
										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.cryptoWatchlist1); $el._x_chart.render() });"></div>
										</div>
										<div class="flex w-36 flex-col items-center rounded-lg bg-slate-100 py-2 font-inter dark:bg-navy-500">
											<p class="text-xl font-medium text-slate-700 line-clamp-1 dark:text-navy-100">
												$31,566.11
											</p>
											<p class="mt-1 flex items-center space-x-0.5 text-xs text-success">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
												</svg>
												<span>4.3%</span>
											</p>
										</div>
									</div>
								</div>
								<div class="flex w-72 shrink-0 flex-col">
									<div class="flex items-center space-x-2">
										<img class="h-6 w-6" src="/limestone/images/logos/ethereum.svg" alt="flag" />
										<div>
											<span>Properties</span>
										</div>
									</div>

									<div class="mt-2.5 flex justify-between rounded-lg bg-slate-50 py-3 pr-3 dark:bg-navy-600">
										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.cryptoWatchlist2); $el._x_chart.render() });"></div>
										</div>
										<div class="flex w-36 flex-col items-center rounded-lg bg-slate-100 py-2 font-inter dark:bg-navy-500">
											<p class="text-xl font-medium text-slate-700 line-clamp-1 dark:text-navy-100">
												$7,668.56
											</p>
											<p class="mt-1 flex items-center space-x-0.5 text-xs text-error">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
												</svg>
												<span>6.53%</span>
											</p>
										</div>
									</div>
								</div>
								<div class="flex w-72 shrink-0 flex-col">
									<div class="flex items-center space-x-2">
										<img class="h-6 w-6" src="/limestone/images/logos/solana.svg" alt="flag" />
										<div>
											<span>Solana</span>
											<span class="text-xs uppercase text-slate-400 dark:text-navy-300">
												SOl
											</span>
										</div>
									</div>

									<div class="mt-2.5 flex justify-between rounded-lg bg-slate-50 py-3 pr-3 dark:bg-navy-600">
										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.cryptoWatchlist3); $el._x_chart.render() });"></div>
										</div>
										<div class="flex w-36 flex-col items-center rounded-lg bg-slate-100 py-2 font-inter dark:bg-navy-500">
											<p class="text-xl font-medium text-slate-700 line-clamp-1 dark:text-navy-100">
												$1,956.11
											</p>
											<p class="mt-1 flex items-center space-x-0.5 text-xs text-success">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
												</svg>
												<span>3.6%</span>
											</p>
										</div>
									</div>
								</div>
								<div class="flex w-72 shrink-0 flex-col">
									<div class="flex items-center space-x-2">
										<img class="h-6 w-6" src="/limestone/images/logos/litecoin.svg" alt="flag" />
										<div>
											<span>Litecoin</span>
											<span class="text-xs uppercase text-slate-400 dark:text-navy-300">
												LTC
											</span>
										</div>
									</div>

									<div class="mt-2.5 flex justify-between rounded-lg bg-slate-50 py-3 pr-3 dark:bg-navy-600">
										<div class="ax-transparent-gridline">
											<div x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.cryptoWatchlist4); $el._x_chart.render() });"></div>
										</div>
										<div class="flex w-36 flex-col items-center rounded-lg bg-slate-100 py-2 font-inter dark:bg-navy-500">
											<p class="text-xl font-medium text-slate-700 line-clamp-1 dark:text-navy-100">
												$487.76
											</p>
											<p class="mt-1 flex items-center space-x-0.5 text-xs text-success">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
												</svg>
												<span>7.98%</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

                        <!-- here lies the activities column -->
                        <%- include("../partials/dashboard/components/activities.ejs", {activities_exists : true}) -%>
                        <!-- activities: end -->
					</div>
					<div class="col-span-12 grid grid-cols-1 gap-4 sm:gap-5 lg:col-span-4 lg:gap-6">
						<div class="card pb-4">
							<div class="flex items-center justify-between px-4 py-3 sm:px-5">
								<h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                    Make Deposit 
                                </h2>
								<div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
									<a href="/deposit" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                        </svg>
                                    </a>
								</div>
							</div>

							<div class="mx-4 my-3 h-px bg-slate-200 dark:bg-navy-500 sm:mx-5"></div>

							<div class="px-4 sm:px-5">
                                <div x-data="{activeTab:'tabHome'}" class="tabs flex flex-col">
                                    <div class="is-scrollbar-hidden overflow-x-auto rounded-lg bg-slate-200 text-slate-600 dark:bg-navy-800 dark:text-navy-200">
                                        <div class="tabs-list flex px-1.5 py-1">
                                            <button @click="activeTab = 'tabProfile'" :class="activeTab === 'tabProfile' ? 'bg-white shadow dark:bg-navy-500 dark:text-navy-100' : 'hover:text-slate-800 focus:text-slate-800 dark:hover:text-navy-100 dark:focus:text-navy-100'" class="btn flex-1 space-x-2 px-3 py-2 font-medium">
                                                <span> Card </span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                            <button @click="activeTab = 'tabHome'" :class="activeTab === 'tabHome' ? 'bg-white shadow dark:bg-navy-500 dark:text-navy-100' : 'hover:text-slate-800 focus:text-slate-800 dark:hover:text-navy-100 dark:focus:text-navy-100'" class="btn flex-1 space-x-2 px-3 py-2 font-medium">
                                                <img class="h-6 w-6" src="/limestone/images/logos/bitcoin.svg" alt="flag">
                                                <span>Crypto</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-content pt-4">
                                        <div x-show="activeTab === 'tabHome'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
                                            <div class="relative">
                                                <div class="pt-4">
                                                    <p class="text-xs+">Select payment</p>
                                                    <select class="w-full form-select h-8 rounded-2xl border border-transparent bg-slate-150 px-4 py-0 pr-9 text-xs+ hover:border-slate-400 focus:border-primary dark:bg-navy-700 dark:hover:border-navy-400 dark:focus:border-accent">
                                                        <option>Bitcoin</option>
                                                        <option>Ethereum</option>
                                                        <option>Solana</option>
                                                        <option>Litecoin</option>
                                                    </select>
                                                </div>
                                                <div class="pt-4">
                                                    <p class="text-xs+">Amount</p>
                                                    <div class="mt-1 flex justify-between space-x-2 rounded-2xl bg-slate-150 p-1.5 dark:bg-navy-800">
                                                        <label class="px-3"> $ </label>
                                                        <input class="form-input w-full bg-transparent px-2 text-right placeholder:text-slate-400/70" placeholder="Amount" type="text" />
                                                    </div>
                                                </div>
                                            </div>
											
											<div x-data="{showModal:false}">
											<button
											@click="showModal = true"
												class="btn mt-6 h-10 w-full bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
												Make payment
											</button>
											<template x-teleport="#x-teleport-target">
												<div class="fixed inset-0 z-[100] flex flex-col items-center justify-center overflow-hidden px-4 py-6 sm:px-5" x-show="showModal" role="dialog" @keydown.window.escape="showModal = false">
													<div class="absolute inset-0 bg-slate-900/60 transition-opacity duration-300" @click="showModal = false" x-show="showModal" x-transition:enter="ease-out" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
													<div
													class="absolute inset-0 bg-slate-900/60 backdrop-blur transition-opacity duration-300"
													@click="showModal = false"
													x-show="showModal"
													x-transition:enter="ease-out"
													x-transition:enter-start="opacity-0"
													x-transition:enter-end="opacity-100"
													x-transition:leave="ease-in"
													x-transition:leave-start="opacity-100"
													x-transition:leave-end="opacity-0"
													></div>
													<div class="relative w-full max-w-2xl origin-bottom rounded-lg bg-white pb-4 transition-all duration-300 dark:bg-navy-700" x-show="showModal" x-transition:enter="easy-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="easy-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
														<div class="flex justify-between rounded-t-lg bg-slate-200 px-4 py-3 dark:bg-navy-800 sm:px-5">
															<h3 class="text-base font-medium text-slate-700 ">
																Make deposit into your Wallet
																<p class="py-2 text-xs+"> in two easy steps 🙂</p>
															</h3>
															<button @click="showModal = !showModal" class="btn -mr-1.5 h-7 w-7 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
																<svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
																</svg>
															</button>
														</div>
														<div x-data="{activeTab:'tabBalance'}" class="tabs flex flex-col px-4 sm:px-5">
															<ol class="steps py-3">
																<li class="cursor-pointer step before:bg-primary dark:before:bg-accent">
																	<div class="step-header rounded-full bg-primary text-white dark:bg-accent"
																	@click="activeTab = 'tabBalance'"
																	>
																	1
																</div>
																<h3 class="text-slate-600 dark:text-navy-100">Step 1</h3>
															</li>
															<li class="step before:bg-primary dark:before:bg-accent">
																<div 
																   :class="activeTab === 'tabNextConfirm' ? 'bg-primary' : 'bg-disabled'"
																	class="cursor-pointer step-header rounded-full bg-primary text-white dark:bg-accent"
																	@click="activeTab = 'tabNextConfirm'"
																	>
																		2
																	</div>
																	<h3 
																	class="text-slate-600 dark:text-navy-100">Step 2</h3>
																</li>
															</ol>
															<img src="/img/makedeposit.png" alt="deposit illustration" class="sm:w-72 w-40 d-block mx-auto" >
															<div class="tab-content pt-4 text-center">
																<div x-show="activeTab === 'tabBalance'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
																	<h4 class="py-4"> Send $400 <span class="text-slate-700 fa">BTC</span> to this address</h4>
																	<div class="flex p-1.5 justify-between bg-slate-200 rounded-lg">
																	<input id="clipboardCont" disabled value="Lorem ipsum dolor sit amet consectetur" 
																	class="text-slate-400 form-input rounded-l-lg text-slate-800 border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-700 " style="color:black;"/>
																	<button class=" d-block rounded bg-white/20 px-2 text-xs text-white active:bg-white/25" id="copy_button" >
																		<i class="fa-solid fa-copy text-slate-600 text-2xl"></i>
																	</button>
																	<script>
																		document.getElementById("copy_button").onclick = ()=> copy("clipboardCont") 
																	</script>
																	</div>
																  <button
																		@click="activeTab = 'tabNextConfirm'"
																		class="py-2 my-3 d-block btn border border-primary font-medium  hover:text-white ">
																		<img class="w-7" src="/img/fast-forward.gif" alt="" srcset="">
																	</button>
																  </div>
														
																
																<div x-show="activeTab === 'tabNextConfirm'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
																	<div>
																		<p>
																			Take a screenshot of your receipt transaction and upload here 
																			<a href="/invest#receiipt" class="btn h-7 w-7 rounded-full bg-info/15 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
																				<svg class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
																					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
																				</svg>
																			</a>
																		</p>
															
																		<p class="pt-3 text-xs text-slate-400 dark:text-navy-300">
																			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
																			dolore non atque?
																		</p>
																	</div>
																</div>
															</div>
														</div>
												</div>
											</template>
										</div>
                                        </div>
                                        <div x-show="activeTab === 'tabProfile'" x-transition:enter="transition-all duration-500 easy-in-out" x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]" x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
                                            <div class="">
                                                <div class="w-full h-40 btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center mb-10" for="kt_create_account_form_account_type_personal">
                                                    <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
                                                    <span class="svg-icon svg-icon-3x me-5">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z" fill="currentColor"></path>
                                                        <path opacity="0.3" d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <!--begin::Info-->
                                                    <span class="d-block fw-semibold text-start">                            
                                                        <span class="text-dark fw-bold d-block fs-4 mb-2">
                                                            No card found in account
                                                        </span>
                                                    </span>
                                                    <!--end::Info-->
                                                </div>
                                                <button class="btn mt-6 h-10 w-full bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
                                                    Make payment
                                                </button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card pb-4">
							<div class="mt-3 flex items-top justify-between px-4 sm:px-5 py-5">
								<div>
                                    <h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                        Buy PIK Gift card
                                    </h2>
                                    <p>  gift investment properties to friends and family </p>
                                </div>
								<div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
									<button x-ref="popperRef" @click="isShowPopper = !isShowPopper" class="btn -mr-1.5 h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
										<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
										</svg>
									</button>

									<div x-ref="popperRoot" class="popper-root" :class="isShowPopper && 'show'">
										<div class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700">
											<ul>
												<li>
													<a href="#" class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">Action</a>
												</li>
												<li>
													<a href="#" class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">Another Action</a>
												</li>
												<li>
													<a href="#" class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">Something else</a>
												</li>
											</ul>
											<div class="my-1 h-px bg-slate-150 dark:bg-navy-500"></div>
											<ul>
												<li>
													<a href="#" class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">Separated Link</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
                            <div class="mx-5 my-3">
                                <!-- hear lies balance -->
                            <%-include("../partials/dashboard/components/giftcard.ejs") -%>
                            <!-- ### -->
                            </div>
                        </div>
               
                    </div>
                    
                    
				</div>
			</main>
		</div>
		<!-- 
        This is a place for Alpine.js Teleport feature 
        @see https://alpinejs.dev/directives/teleport
      -->
		<div id="x-teleport-target"></div>
		<script>
			window.addEventListener("DOMContentLoaded", () => Alpine.start());
		</script>
	</body>
</html>