<!DOCTYPE html>
<html lang="en">

	<!-- Added by HTTrack -->
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<!-- /Added by HTTrack -->

	<head>

		<title>Deposit | PIK ASSETS MANAGEMENT </title>

		<!-- headLinks -->
		<%- include("../partials/dashboard/headLinks.ejs") -%>
		<!-- ######### -->


		<style>
			.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
				box-shadow: none;
			}

			.btn.btn-outline.btn-outline-dashed {
				border-width: 1px;
				border-style: dashed;
			}

			.bg-disabled {
				background-color: #e1e0ff !important;
			}
            @media (min-width: 1024px){
                .lg\:block {
                    display: block !important;
                }

              }
		</style>
	</head>

	<body x-data class="is-header-blur" x-bind="$store.global.documentBody">
		<!-- App preloader-->
		<div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
			<div class="app-preloader-inner relative inline-block h-48 w-48"></div>
		</div>

		<!-- import toast error -->
		<%- include("../partials/dashboard/components/toast-error.ejs") -%>
		<!-- toasterror:end -->

		<!-- importing copy to clipboard function -->
		<%- include("../partials/dashboard/components/clipboard.ejs") -%>
		<!-- #### -->

		<!-- Page Wrapper -->
		<div id="root" class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900" x-cloak>
			  
			<!-- Sidebar -->
			<div class="sidebar print:hidden">

				<!-- main sidebar and sidebar panel -->
				<%- include("../partials/dashboard/components/nav/navbar.ejs", {active_page : "deposit"}) -%>
				<!-- ### -->
			</div>

			<!-- Here lies the  App heder -->
			<%- include("../partials/dashboard/components/nav/header.ejs") -%>
			<!-- ######  App header:end ###-->

			<!-- Right side bar lies here -->
			<%- include("../partials/dashboard/components/rightside.ejs") -%>
			<!-- Right side bar : ends -->

			<!-- Main Content Wrapper -->
			<main class="main-content w-full px-[var(--margin-x)] pb-8">
				<!-- BreadCrumbs lies here -->
				<%- include("../partials/dashboard/components/breadcrumbs.ejs", {breadcrumbs_active : "Deposit"}) -%>
				<!-- BreadCrumbs : ends -->
				<div class="mt-4 grid grid-cols-12 gap-4 sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6">
					<div class="col-span-12 lg:col-span-8">

						<!-- hear lies balance -->
						<%-include("../partials/dashboard/components/balance.ejs") -%>
						<!-- ### -->
						<!-- here lies a card for deposit  -->
							<%- include("./deposit-card.ejs") -%>
							<!-- depositcard:end -->
						</div>
                        <div id="receipt" class="card my-5 sm:px-5 px-4">
                            <h2 class="text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100 py-5">
                                Confirm Deposit
                            </h2>
                            <form enctype="multipart/form-data" name="receipt" method="POST" action="/dashboard/receipt" class="text-center">
                                <label class="block my-3">
                                    <input required name="amount" class="form-input w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Deposited amount" type="number" />
                                  </label>
                                <div class="filepond fp-bordered py-3">
                                    <input name="receipt" required type="file" accept="image/*"  />
                                </div>
                                <button class="w-40 mx-auto my-4 btn border border-primary font-medium text-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white active:bg-primary/90 dark:border-accent dark:text-accent-light dark:hover:bg-accent dark:hover:text-white dark:focus:bg-accent dark:focus:text-white dark:active:bg-accent/90" >
                                    Upload
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-span-12 grid grid-cols-1 gap-4 sm:gap-5 lg:col-span-4 lg:gap-6 text-center">
                        <div class="card pb-4 sm:px-5 px-4">
                            <div class="flex items-center justify-between py-3 ">
                                <h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                    Steps to Make deposit
                                </h2>
                                <div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
                                    <a href="/deposit" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                            </svg>
                                    </a>
                                </div>
                            </div>

                            <div class="mx-4 my-3 h-px bg-slate-200 dark:bg-navy-500 sm:mx-5"></div>

                            <div>
                                <ol class="steps is-vertical line-space">
                                    <li class="step space-x-4 pb-12 before:bg-slate-200 dark:before:bg-navy-500">
                                        <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                                            1
                                        </div>
                                        <div class="text-left">
                                            <p class="font-medium text-slate-600 dark:text-navy-100">
                                                Select Account 
                                            </p>
                                            <div class="mt-1 text-xs text-slate-400 line-clamp-1 dark:text-navy-300">
                                                copy the selected wallet address and make payment.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step space-x-4 pb-12 before:bg-slate-200 dark:before:bg-navy-500">
                                        <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                                            2
                                        </div>
                                        <div class="text-left">
                                            <p class="font-medium text-slate-600 dark:text-navy-100">
                                                Upload receipt
                                            </p>
                                            <div class="mt-1 text-xs text-slate-400 line-clamp-1 dark:text-navy-300">
                                               Make a screenshot of the transaction receipt and upload.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step space-x-4 pb-12 before:bg-slate-200 dark:before:bg-navy-500">
                                        <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                                            3
                                        </div>
                                        <div class="text-left">
                                            <p class="font-medium text-slate-600 dark:text-navy-100">
                                                Finish✅
                                            </p>
                                            <div class="mt-1 text-xs text-slate-400 line-clamp-1 dark:text-navy-300">
                                                Your deposit would reflect on your dashboard.
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        
                        <form action="/dashboard/redeemgiftcard" method="POST" class="card pb-5 lg:pb-6 mt-2 px-4 sm:px-5 order-first lg:order-none " id="redeem">
                            <div class="py-5 text-center lg:py-6">
                                <h2 class="dark:text-navy-100 font-medium line-clamp-1 py-5 text-base text-slate-700 tracking-wide">
                                    Redeem PIK Giftcard
                                </h2>
                            </div>
                            <label class="block">
                                <input name="key" required class="form-input w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Redeem giftcard" type="text" />
                                </label>
                                <button class="w-40 mx-auto my-4 btn border border-primary font-medium text-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white active:bg-primary/90 dark:border-accent dark:text-accent-light dark:hover:bg-accent dark:hover:text-white dark:focus:bg-accent dark:focus:text-white dark:active:bg-accent/90" >
                                Redeem
                            </button>
                        </form>
                        <div>
                            <img src="/img/deposit.png" class="w-full" alt="Don't look for the needle in the haystack. Just buy the haystack!" >
                         </div>
                        <div class="card sm:px-5 px-4">
                            <div class="flex items-center justify-between py-3 ">
                                <a target="_blank" href="https://help.coinbase.com/en-in/coinbase/trading-and-funding/sending-or-receiving-cryptocurrency/how-to-send-and-receive-cryptocurrency" class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                    How to make payment
                                </a>
                                <div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
                                    <a href="/deposit" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
                    <!-- 
        This is a place for Alpine.js Teleport feature 
        @see https://alpinejs.dev/directives/teleport
      -->
                    <div id="x-teleport-target"></div>
                    <script>
                        window.addEventListener("DOMContentLoaded", () => Alpine.start());
                    </script>
                        <!-- tawk.to configuration -->
            <%-include("../partials/dashboard/tawkto.ejs") -%>
            <!-- ### -->
</body>

</html>