<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from lineone.piniastudio.com/dashboards-crypto-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 08:31:31 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->

<head>

    <title>Transaction History | PIK ASSETS MANAGEMENT </title>

    <!-- headLinks -->
    <%- include("../partials/dashboard/headLinks.ejs") -%>
        <!-- ######### -->


        <style>
            .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
                box-shadow: none;
            }
            
            .btn.btn-outline.btn-outline-dashed {
                border-width: 1px;
                border-style: dashed;
            }
            
            .bg-disabled {
                background-color: #e1e0ff !important;
            }
        </style>
</head>

<body x-data class="is-header-blur" x-bind="$store.global.documentBody">
    <!-- App preloader-->
    <div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
        <div class="app-preloader-inner relative inline-block h-48 w-48"></div>
    </div>

    <!-- importing copy to clipboard function -->
    <%- include("../partials/dashboard/components/clipboard.ejs") -%>
        <!-- #### -->

        <!-- Page Wrapper -->
        <div id="root" class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900" x-cloak>
            <!-- Sidebar -->
            <div class="sidebar print:hidden">

                <!-- main sidebar and sidebar panel -->
                <%- include("../partials/dashboard/components/nav/navbar.ejs", {active_page : "transaction"}) -%>
                    <!-- ### -->
            </div>

            <!-- Here lies the  App heder -->
            <%- include("../partials/dashboard/components/nav/header.ejs") -%>
                <!-- ######  App header:end ###-->

                <!-- Right side bar lies here -->
                <%- include("../partials/dashboard/components/rightside.ejs") -%>
                    <!-- Right side bar : ends -->

                    <!-- Main Content Wrapper -->
                    <main class="main-content w-full px-[var(--margin-x)] pb-8">
                        <!-- BreadCrumbs lies here -->
                        <%- include("../partials/dashboard/components/breadcrumbs.ejs", {breadcrumbs_active : "Transaction"}) -%>
                            <!-- BreadCrumbs : ends -->
                            <div class="mt-4 grid grid-cols-12 gap-4 sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6">
                                <div class="col-span-12 lg:col-span-8">

                                    <!-- hear lies balance -->
                                    <%-include("../partials/dashboard/components/balance.ejs") -%>
                                        <!-- ### -->

                                        <div class="card col-span-2 px-4 pb-5 sm:px-5 my-5">
                                            <div class="my-3 sm:flex h-8 items-center justify-between">
                                                <h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                                    Transactions
                                                </h2>
                                                <p class="text-xs text-slate-400 dark:text-navy-200">
                                                    All transactions in and out of your account
                                                </p>
                                            </div>
                                            <div class="space-y-4">
                                            <% if(user.transactions && user.transactions.length){%>
                                                <% user.transactions.forEach(transaction=>{ %>
                                                    <div class="flex cursor-pointer items-center justify-between">
                                                        <div class="flex items-start space-x-3">
                                                            <div class="avatar">
                                                               <% if(transaction.type == 'pending'){ %>
                                                                    <div class="btn h-7 w-7 rounded-full bg-info/10 p-0 text-secondary hover:bg-info/20 focus:bg-info/20 active:bg-info/25">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                                      </svg>
                                                                    </div>
                                                              <%  } %>

                                                              <%if(transaction.type == 'decline'){ %>
                                                                <div class="btn h-7 w-7 rounded-full bg-error/10 p-0 text-error hover:bg-error/20 focus:bg-error/20 active:bg-error/25">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                                                    </svg>
                                                                  </div>
                                                              <%}%>
                                                              <%if(transaction.type == 'success'){ %>
                                                                <div class="btn h-7 w-7 rounded-full bg-success/10 p-0 text-success hover:bg-success/20 focus:bg-success/20 active:bg-success/25">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                                                    </svg>
                                                                  </div>
                                                              <%}%>
                                                            </div>
                                                            <div>
                                                                <p class="text-slate-700 dark:text-navy-100">
                                                                    <%= transaction.title %>
                                                                </p>
                                                                <p class="text-xs text-slate-400 line-clamp-1 dark:text-navy-200">
                                                                    <!-- Dec 21, 2021 - 08:05 -->
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="font-medium <%= transaction.type == 'success'? 'text-success' : (transaction.type == 'decline') ? 'text-error' : 'text-info'%> ">$<%= transaction.amount %></p>
                                                    </div>

                                                <% })%>
                                                    </div>
                                                <%}else{%>
                                                    <div class="max-w-md p-6 text-center mx-auto">
                                                        <div class="w-full">
                                                            <img class="w-full" x-show="!$store.global.isDarkModeEnabled" src="/limestone/images/illustrations/error-429.svg" alt="image">
                                                            <img class="w-full" x-show="$store.global.isDarkModeEnabled" src="/limestone/images/illustrations/error-429-dark.svg" alt="image" style="display: none;">
                                                        </div>
                                                        <p class="pt-4 text-7xl font-bold text-primary dark:text-accent">
                                                        <p class="pt-4 text-xl font-semibold text-slate-800 dark:text-navy-50">
                                                            No transactions
                                                        </p>
                                                    </div>
                                                <%}%>
                                        </div>
                                </div>
                                <div class="col-span-12 grid grid-cols-1 gap-4 sm:gap-5 lg:col-span-4 lg:gap-6">


                                </div>


                            </div>
                    </main>
        </div>
        <!-- 
        This is a place for Alpine.js Teleport feature 
        @see https://alpinejs.dev/directives/teleport
      -->
        <div id="x-teleport-target"></div>
        <script>
            window.addEventListener("DOMContentLoaded", () => Alpine.start());
        </script>
</body>

</html>