<!DOCTYPE html>
<html lang="en">

<head>

    <title>Withdrawal | PIK ASSETS MANAGEMENT </title>

    <!-- headLinks -->
    <%- include("../partials/dashboard/headLinks.ejs") -%>
        <!-- ######### -->


        <style>
            .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
                box-shadow: none;
            }
            
            .btn.btn-outline.btn-outline-dashed {
                border-width: 1px;
                border-style: dashed;
            }
            
            .bg-disabled {
                background-color: #e1e0ff !important;
            }
        </style>
</head>

<body x-data class="is-header-blur" x-bind="$store.global.documentBody">
    <!-- App preloader-->
    <div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
        <div class="app-preloader-inner relative inline-block h-48 w-48"></div>
    </div>

    <!-- importing copy to clipboard function -->
    <%- include("../partials/dashboard/components/clipboard.ejs") -%>
        <!-- #### -->


		<!-- import toast error -->
		<%- include("../partials/dashboard/components/toast-error.ejs") -%>
		<!-- toasterror:end -->

        <!-- Page Wrapper -->
        <div id="root" class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900" x-cloak>
            <!-- Sidebar -->
            <div class="sidebar print:hidden">

                <!-- main sidebar and sidebar panel -->
                <%- include("../partials/dashboard/components/nav/navbar.ejs", {active_page : "withdraw"}) -%>
                    <!-- ### -->
            </div>

            <!-- Here lies the  App heder -->
            <%- include("../partials/dashboard/components/nav/header.ejs") -%>
                <!-- ######  App header:end ###-->

                <!-- Right side bar lies here -->
                <%- include("../partials/dashboard/components/rightside.ejs") -%>
                    <!-- Right side bar : ends -->

                    <!-- Main Content Wrapper -->
                    <main class="main-content w-full px-[var(--margin-x)] pb-8">

                        <!-- BreadCrumbs lies here -->
                        <%- include("../partials/dashboard/components/breadcrumbs.ejs", {breadcrumbs_active : "Withdraw"}) -%>
                            <!-- BreadCrumbs : ends -->
                            <div class="mt-4 grid grid-cols-12 gap-4 sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6">
                                <div class="col-span-12 lg:col-span-8">

                                    <!-- hear lies balance -->
                                    <%-include("../partials/dashboard/components/balance.ejs") -%>
                                        <!-- ### -->
                                        <div class="card px-4 sm:px-5 pb-5 my-4">
                                            <h2 class="text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100 py-3">
                                                Withdraw to wallet
                                            </h2>
                                            <label class="block">
                                            <input class="form-input w-full rounded-lg  bg-disabled dark:bg-navy-800 px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Username" disabled value="FDBFI37290399DKHLBI" type="text" />
                                        </label>
                                            <div class="py-4">
                                                <p class="text-xs+">Amount</p>
                                                <div class="mt-1 flex justify-between space-x-2 rounded-lg bg-slate-150 p-1.5 dark:bg-navy-800">
                                                    <label class="px-3"> $ </label>
                                                    <input class="form-input w-full bg-transparent px-2 text-right placeholder:text-slate-400/70" placeholder="Amount" type="Number" />
                                                </div>
                                            </div>
                                            <button class="btn mt-6 h-10 w-full bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
                                            Withdraw
                                        </button>
                                        </div>

                                       <%- include("../partials/dashboard/components/giftcard.ejs") -%>
                                </div>
                                <div class="col-span-12 grid grid-cols-1 gap-4 sm:gap-5 lg:col-span-4 lg:gap-6 items-center">
                                    <div class="card pb-4 sm:px-5 px-4">
                                        <div class="flex items-center justify-between py-3 ">
                                            <h2 class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                                Steps to Withdraw
                                            </h2>
                                            <div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
                                                <a href="/deposit" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
										</svg>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="mx-4 my-3 h-px bg-slate-200 dark:bg-navy-500 sm:mx-5"></div>

                                        <ol class="steps is-vertical line-space">
                                            <li class="step space-x-4 pb-12 before:bg-slate-200 dark:before:bg-navy-500">
                                                <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                                                    1
                                                </div>
                                                <div class="text-left">
                                                    <p class="font-medium text-slate-600 dark:text-navy-100">
                                                        Add your wallet address to Your account
                                                    </p>
                                                    <div class="mt-1 text-xs text-slate-400 line-clamp-1 dark:text-navy-300">
                                                        Link to add wallet
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="step space-x-4 pb-12 before:bg-slate-200 dark:before:bg-navy-500">
                                                <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                                                    2
                                                </div>
                                                <div class="text-left">
                                                    <p class="font-medium text-slate-600 dark:text-navy-100">
                                                        Withdraw
                                                    </p>
                                                    <div class="mt-1 text-xs text-slate-400 line-clamp-1 dark:text-navy-300">
                                                        finish
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>

                                    </div>

                                    <div class="card sm:px-5 px-4">
                                        <div class="flex items-center justify-between py-3 ">
                                            <a href="/deposit" class="font-medium tracking-wide text-slate-700 dark:text-navy-100">
                                            [ add icon | blog] How to create a wallet
                                        </a>
                                            <div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper && (isShowPopper = false)" class="inline-flex">
                                                <a href="/deposit" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
										</svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </main>
        </div>
        <!-- 
        This is a place for Alpine.js Teleport feature 
        @see https://alpinejs.dev/directives/teleport
      -->
        <div id="x-teleport-target"></div>
        <script>
            window.addEventListener("DOMContentLoaded", () => Alpine.start());
        </script>
</body>

</html>