
<% if(user.activities && user.activities.length){%>
    <div class="mt-4 sm:mt-5 lg:mt-6 px-4 sm:px-5">
        <div class="flex items-center justify-between">
            <h2 class="text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100 py-5">
                Latest Activities
            </h2>
        </div>
        <div class="px-4 pb-4 sm:px-5">
            <ol class="timeline line-space max-w-sm [--size:1.5rem]">
                <% all_activity_icons = { settings : "fa fa-user-edit text-tiny", assets_buy : "fa-solid fa-share-from-square", assets_sell : "fa-solid fa-circle-down" } %>
                <% user.activities.forEach(activity=>{ %>
                    <li class="timeline-item">
                        <div class="timeline-item-point <%= activity.type == 'settings' ? 'text-primary' : activity.type == 'assets_buy' ? 'text-warning' : 'text-success' %> rounded-full border border-current bg-white  dark:bg-navy-700 dark:text-secondary-light">
                            <i class="<%= all_activity_icons[activity.type] %>"></i>
                        </div>
                        <div class="timeline-item-content flex-1 pl-4 sm:pl-8">
                            <div class="flex flex-col justify-between pb-2 sm:flex-row sm:pb-0">
                                <p class="pb-2 font-medium leading-none text-slate-600 dark:text-navy-100 sm:pb-0">
                                    <%= activity.title %>
                                </p>
                                <span class="text-xs text-slate-400 dark:text-navy-300"> <%= activity.createdAt.to %></span>
                            </div>
                            <p class="py-1"> <%= activity.body %> </p>
                        </div>
                    </li>
               <% }) %>
    
                <li class="timeline-item">
                    <div class="timeline-item-point rounded-full border border-current bg-white text-warning dark:bg-navy-700">
                        <i class="fa fa-history text-tiny"></i>
                    </div>
                    <div class="timeline-item-content flex-1 pl-4 sm:pl-8">
                        <div class="flex flex-col justify-between pb-2 sm:flex-row sm:pb-0">
                            <p class="pb-2 font-medium leading-none text-slate-600 dark:text-navy-100 sm:pb-0">
                                Weekly Report
                            </p>
                            <span class="text-xs text-slate-400 dark:text-navy-300">a day ago</span>
                        </div>
                        <p class="py-1">Read about us</p>
                        <div>
                            <p class="text-xs text-slate-400 dark:text-navy-300">Members:</p>
                            <div class="mt-2  text-end">
                                <a href="#" class="btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>

<%}else{%>
    <div  class="is-scrollbar-hidden overflow-y-auto px-4">
        <div class="mt-8 pb-8 text-center">
          <img class="mx-auto w-36" src="/limestone/images/illustrations/empty-girl-box.svg" alt="image">
          <div class="mt-5">
            <p class="text-base font-semibold text-slate-700 dark:text-navy-100">
              No activities
            </p>
            <p class="text-slate-400 dark:text-navy-300">
              There are no recent activities
            </p>
          </div>
        </div>
      </div>

<%}%>


