<div class="card bg-gradient-to-br from-purple-500 to-indigo-600 px-4 pb-4 sm:px-5">
    <div class="flex items-center justify-between py-3 text-white">
        <h2 class="text-sm+ font-medium tracking-wide">Your Balance</h2>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-5 lg:gap-6">
        <div>
            <div x-tooltip="'Referral ID'" class="flex w-9/12 items-center space-x-1">
                <input class="text-slate-400 form-input w-full rounded-l-lg  border-slate-300 bg-transparent py-2 placeholder:text-slate-400/70 hover:z-10 hover:border-slate-400 focus:z-10 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                    style="background: transparent !important;" value="0x<%= user.id %>" disabled id="copy_this__" />
                <button class="btn h-5 w-5 shrink-0 rounded-full p-0 text-white hover:bg-white/20 focus:bg-white/20 active:bg-white/25">
                    <svg id="copy_this__icon" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z" />
                        <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z" />
                    </svg>
                </button>
                <script>
                    document.getElementById("copy_this__icon").onclick = () => copy("copy_this__")
                </script>
            </div>
            <div class="mt-3 text-3xl font-semibold text-white" x-balance-amount x-balance-value="$<%=user.balance ?  user.balance.toLocaleString() : '0.00' %>">
                $
                <%= user.balance ? user.balance.toLocaleString() : "0.00" %>
            </div>
            <p class="mt-3 text-xs+ text-indigo-100" x-btc-balance> </p>
        </div>
        <script>
            const toggleBalance = function(e) {
                if (e.target.innerText !== e.target.getAttribute("x-balance-value")) {
                    return e.target.innerText = e.target.getAttribute("x-balance-value")
                }
                return e.target.innerText = "******"
            }
            fetch("https://api.coindesk.com/v1/bpi/currentprice.json")
                .then(d => d.json())
                .then(d => {
                    document.querySelector("p[x-btc-balance]").innerHTML = (Number("<%= user.balance %>") / d.bpi.USD.rate_float) + " BTC"
                })
                .catch(e => console.log(e))
            document.querySelector("div[x-balance-amount]").addEventListener("click", toggleBalance)
        </script>
        <div class="grid grid-cols-2 gap-4 sm:gap-5 lg:gap-6">
            <div>
                <p class="text-indigo-100">Credits</p>
                <div class="mt-1 flex items-center space-x-2">
                    <div class="flex h-7 w-7 items-center justify-center rounded-full bg-black/20 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
                        </svg>
                    </div>
                    <p class="text-base font-medium text-white">$
                        <%= user.credits ? user.credits.toLocaleString() : "0.00" %>
                    </p>
                </div>
                <% if((typeof Deposit_withdraw_button_show == "undefined")){ %>
                    <a href="/dashboard/deposit" class="btn mt-3 w-full border border-white/10 bg-white/20 text-white hover:bg-white/30 focus:bg-white/30">
                        Deposit
                    </a>
                    <% } %>
            </div>
            <div>
                <p class="text-indigo-100">Debits</p>
                <div class="mt-1 flex items-center space-x-2">
                    <div class="flex h-7 w-7 items-center justify-center rounded-full bg-black/20 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                        </svg>
                    </div>
                    <p class="text-base font-medium text-white">$
                        <%= user.debits ? user.debits.toLocaleString() : "0.00" %>
                    </p>
                </div>
                <% if((typeof Deposit_withdraw_button_show == "undefined")){ %>
                    <a href="/dashboard/withdraw" class="btn mt-3 w-full border border-white/10 bg-white/20 text-white hover:bg-white/30 focus:bg-white/30">
                        Withdraw
                    </a>
                    <% } %>
            </div>
        </div>
    </div>
</div>